# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog


*.gch
*.pch
*.ilk
*.idb
*.log

# Compiled Dynamic libraries
*.so
*.dylib
Rop_raw.tlog/

*.mod
*.smod
*.ilk
*.log

# Executables
*.out
*.app

#Additional
*.suo
*.pdb
*.user
*.useroscache
*.sln.docstates
*.userprefs
*.sdf
*.opensdf
*.opendb
*.VC.db
[Rr]elease/
